:root{
    --colorPrimario:#E23636;
    --colorSecundario:#518CCA;
    --colorFondo:#f4f4f4;
    --colorTarjeta:#FFFFFF;

    --colorDark__body:rgba(17, 17, 17, 0.83);
    --colorDark__tarjeta:rgb(0, 0, 0);
    --colorDark__textoTarjeta:white;
} 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif; 
    scroll-behavior: smooth;
    animation-duration: 10s;
    position: relative;
}

body{
    background-color: var(--colorFondo);
    /* background-color: rgba(17, 17, 17, 0.83); */
    height: auto;
}

header
{
    background-color: var(--colorPrimario);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    nav{
        /* height: 90px; */
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: white;
            margin: 25px;
            text-decoration: none;
            font-size: 24px;
        }
    }

    .btnHamburguesa{
        border: 1px solid white;
        border-radius: 5px;
        padding: 10px;
        background-color: var(--colorPrimario);
        font-size: 24px;
        color: var(--colorTarjeta);
        display: none;
    }    
}

.mostrar{
    display: flex;
}

@media(max-width:768px){
    header{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        nav{
            width: 100%;
            display: none;
            flex-direction: column;
            background-color: var(--colorPrimario);
            position: relative;
            top: 20px;
            a{
                width: 100%;
                border-top: 1px solid white;
                text-align: center;
                margin: 0;
                padding: 20px;
            }
        }

        .btnHamburguesa{
            display: block;
            order: -1;
            margin-bottom: 20px;
            margin-top: 20px;
            &:hover{
                background-color: var(--colorSecundario);
            }
        }
    }
}



main {
    margin-top: 162px;
    h1{
        margin: 62px 0 0 0;
        text-align: center;
        color: var(--colorPrimario);
        /* color: white; */
        font-family: Avengeance;
        font-size: 64px;
    }

    .slide{
        width: 1000px;
        margin: 62px auto 25px auto;
        z-index: -1;
    }


    .tarjetaIntroduccion{
        width: 1000px;
        height: 304px;
        background-color: var(--colorTarjeta);
        /* color: white; */
        /* background-color: rgb(0, 0, 0); */
        /* border: 1px solid white; */
        margin: 62px auto 25px auto;
        padding: 30px;
        display: flex;
        gap: 23px;
        box-shadow: 5px 4px 6px 1px rgba(0, 0, 0, 0.4);

        .tarjetaIntroduccion-contenido{
            h2{
                color: var(--colorPrimario);
                font-size: 32px;
                font-weight: lighter;
                /* border-bottom: 4px solid var(--colorPrimario); */
                margin-bottom: 12px;
                line-height: 1.5;
            }

            hr{
                background-color: var(--colorPrimario);
                height: 5px;
                border: none;
                border-radius: 5px;
                margin-bottom: 12px;
            }

            p{
                font-size: 18px;
                font-weight: lighter;
                line-height: 1.8;
                /* font-family: 'Comic'; */
            }
        }

        .tarjetaIntroduccion-imagenes{
            img{
                width: 240px;
                border-radius: 5px;
                margin-top: 50px;
            }
        }
    }
    
    .tarjetaHistoria{
        width: 1000px;
        /* height: 304px; */
        background-color: var(--colorTarjeta);
        margin: 25px auto 25px auto;
        padding: 30px;
        display: flex;
        gap: 23px;
        box-shadow: 5px 4px 6px 1px rgba(0, 0, 0, 0.4);

        h2{
            color: var(--colorPrimario);
            font-size: 32px;
            font-weight: lighter;
            /* border-bottom: 4px solid var(--colorPrimario); */
            margin-bottom: 12px;
            line-height: 1.5;
        }

        hr{
            background-color: var(--colorPrimario);
            height: 5px;
            border: none;
            border-radius: 5px;
            margin-bottom: 12px;
        }

        .tarjetaHistoria-contenido{
            /* columns: 2; */
            display: flex;
            flex-direction: column;
            width: 80%;
            h3{
                font-size: 32px;
                color: var(--colorSecundario);
                font-weight: lighter;
            }

            p{
                font-size: 18px;
                font-weight: lighter;
                line-height: 1.8;
                /* font-family: 'Comic'; */
            }

            .cajas{
                columns: 2;
                /* column-gap: 10px; */
                margin-top: 12px;
                .cajita{
                    /* width: 260px; */
                    /* height: 177px; */
                    background-color: var(--colorTarjeta);
                    box-shadow: 5px 4px 6px 1px rgba(0, 0, 0, 0.4);
                    margin-bottom: 20px;
                    padding: 20px;                    
                }
            }
        }

        .tarjetaHistoria-imagenes{
            width: 240px;
            margin-top: 50px;
            img{
                width: 100%;
                border-radius: 5px;
                margin-top: 10px;
            }
        }
    }
    
    .tarjetaUnionHeroes{
        width: 1000px;
        background-color: var(--colorTarjeta);
        margin: 25px auto;
        padding: 30px;
        box-shadow: 5px 4px 6px 1px rgba(0, 0, 0, 0.4);
        display: flex;
        gap: 23px;

        h2{
            color: var(--colorPrimario);
            font-size: 32px;
            font-weight: lighter;
            /* border-bottom: 4px solid var(--colorPrimario); */
            margin-bottom: 12px;
            line-height: 1.5;
        }

        hr{
            background-color: var(--colorPrimario);
            height: 5px;
            border: none;
            border-radius: 5px;
            margin-bottom: 12px;
        }

        .tarjetaUnionHeroes-contenido{
            width: 80%;
        }

        .tarjetaUnionHeroes-imagenes{
            width: 240px;
            margin-top: 95px;
            img{
                width: 100%;
                border-radius: 5px;
                margin-top: 10px;
            }
        }
    }

    .tarjetaGrupoConstanteCambio{
        width: 1000px;
        background-color: var(--colorTarjeta);
        margin: 25px auto 90px auto;
        padding: 30px;
        box-shadow: 5px 4px 6px 1px rgba(0, 0, 0, 0.4);
        display: flex;
        gap: 23px;

        h2{
            color: var(--colorPrimario);
            font-size: 32px;
            font-weight: lighter;
            /* border-bottom: 4px solid var(--colorPrimario); */
            margin-bottom: 12px;
            line-height: 1.5;
        }

        hr{
            background-color: var(--colorPrimario);
            height: 5px;
            border: none;
            border-radius: 5px;
            margin-bottom: 12px;
        }

        .tarjetaGrupoConstanteCambio-contenido{
            width: 80%;
        }

        .tarjetaGrupoConstanteCambio-imagenes{
            width: 240px;
            margin-top: 50px;
            img{
                width: 100%;
                border-radius: 5px;
                margin-top: 10px;
            }
        }

        
    }
    
}

footer{
    background-color: var(--colorSecundario);
    padding: 20px;
    /* position: relative; */
    width: 100%;
    /* bottom: 0; */
    h2{
        color: white;
        text-align: center;
    }
}

/* Galeria de imagenes */
.fondoGaleria{
    background-color: var(--colorFondo);    
    .galeria{
        display: grid;
        grid-template-areas: 
        "img1 img1 img2 img2 img3 img3 img3 img3"
        "img1 img1 img2 img2 img3 img3 img3 img3"
        "img4 img4 img4 img4 img3 img3 img3 img3"
        "img4 img4 img4 img4 img3 img3 img3 img3"
        "img5 img5 img5 img5 img6 img6 img6 img6"
        "img5 img5 img5 img5 img6 img6 img6 img6"
        "img5 img5 img5 img5 img6 img6 img6 img6";
    
        
        width: 90%;
        /* height: 90%; */
        margin: 100px auto 80px auto;
        gap: 10px;
        padding: 10px;

        div .img{
            width: 100%;
            object-fit: cover;
            height: 100%;
            box-shadow: 3px 3px 3px gray;
            
            &:hover{
                box-shadow: 0 0 3px 3px var(--colorPrimario);
                transform: scale(99%);
            }
        }
    
        .galeria-img1{
            grid-area: img1;
        }
        
        .galeria-img2{
            grid-area: img2;
        }
        
        .galeria-img3{
            grid-area: img3;
        }
        
        .galeria-img4{
            grid-area: img4;
        }
        
        .galeria-img5{
            grid-area: img5;
        }
        
        .galeria-img6{
            grid-area: img6;
        }
    }   
}

/* Formulario: */

form{
    margin: 185px;
    width: 800px;
    
    h1{
        text-align: center;
        padding: 10px;
    }
}


