body{
    background-color: #f4f4f4;
}

.contenedor{
    width: 800px;
    background-color: white;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.contenedor p{
    line-height: 1.5;
}

.contenedor button{
    background-color: darkgreen;
    border: none;
    padding: 8px;
    border-radius: 4px;
    color: white;
    width: 150px;
    align-self: center;
    margin-top: 10px;
    cursor: pointer;
}

.modo-dark__body{
    background-color: rgba(0, 0, 0, 0.732);
}

.modo-dark__tarjeta{
    background-color: rgba(26, 25, 25, 0.587);
    color: white;
}